mouse_mode true
on_force_close: "detach"
pane_frames false
theme "catppuccin-frappe"
session_serialization false
scroll_buffer_size 100_000
show_startup_tips false

keybinds clear-defaults=true {
    shared_except "locked" {
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt [" { FocusPreviousPane; }
        bind "Alt ]" { FocusNextPane; }
        bind "Alt Left" { GoToPreviousTab; }
        bind "Alt Right" { GoToNextTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt L" { Resize "Right"; }
        bind "Alt K" { Resize "Up"; }
        bind "Alt J" { Resize "Down"; }
        bind "Alt H" { Resize "Left"; }
        bind "Alt P" { TogglePaneFrames; }
    }
    normal {
        bind "Alt s" { SwitchToMode "scroll"; }
        bind "Alt y" { SwitchToMode "locked"; }
        bind "Alt /" { SwitchToMode "entersearch"; }
        bind "Alt r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "Alt p" { SwitchToMode "renamepane"; PaneNameInput 0;}
        bind "Alt d" { Detach; }
        bind "Alt n" { NewPane "Right"; }
        bind "Alt m" { NewPane "Down"; }
        bind "Alt x" { CloseFocus; }
        bind "Alt t" { NewTab; }
        bind "Alt q" { CloseTab; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt F" { TogglePaneEmbedOrFloating; }
        bind "Alt z" { ToggleFocusFullscreen; }
        bind "Alt e" { EditScrollback; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
    }
    shared_among "normal" "scroll" "search" {
        bind "Alt e" { EditScrollback; SwitchToMode "Normal"; }
    }
    shared_among "scroll" "search" {
        bind "Esc" "q" { SwitchToMode "normal"; }
        bind "Alt /" { SwitchToMode "entersearch"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "J" { HalfPageScrollDown; }
        bind "K" { HalfPageScrollUp; }
        bind "PageDown" { HalfPageScrollDown; }
        bind "PageUp" { HalfPageScrollUp; }
    }
    scroll {
        bind "/" { SwitchToMode "entersearch"; }
    }
    entersearch {
        bind "Esc" { SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "search"; }
    }
    search {
        bind "n" { Search "Down"; }
        bind "N" { Search "Up"; }
        bind "p" { Search "Up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    renametab {
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "normal"; }
    }
    renamepane {
        bind "Enter" { SwitchToMode "normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "normal"; }
    }
    locked {
        bind "Alt y" { SwitchToMode "normal"; }
    }
}

